.wrapper-score {
  display: flex;
  width: 50%;
  justify-content: space-between;
}

.wrapper-hits {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  gap: 5px;
}

.wrapper-hits p, .wrapper-hits  span {
  font-size: 1.4rem;
}

.score-stars {
  display: flex;
}

img.star.show-stars {
  width: 20px;
}

@keyframes show-stars {
  0% { opacity: 0; transform: translateY(20px); }
  100% { opacity: 1; transform: translateY(0); }
}

#result-modal button.btn.restart-quiz,
.wrapper-hits,
.score-stars img {
  animation: show-stars 1.0s ease-in-out forwards;
}

@media (max-width: 728px) {
  .wrapper-score {
    width: 100%;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
    justify-content: space-evenly;
  }
}