html {
    font-size: 62.5%; 
}

body, html {
    margin:0;
    padding:0;
    overflow: auto;
    font-family: arial;
    background-color: #334155;
    color: #f5f5f4;
}

body p {
    margin: 0;
}

h1,h3,h5 {
    font-family: 'Poppins', sans-serif;
    margin: 0;
}

h1 {
    text-align: center;
    padding-bottom: 10px;
    margin-bottom: 30px;
    font-size: 3.2rem;
    border-bottom: 1px solid #475569;
}

h3, span, p {
    font-size: 1.8rem;
}

h5 {
    font-size: 1.4rem;
}

main {
    width: 90%;
    max-width: 1024px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 60px;
    border-radius: 4px;
    text-align: left;
}

.btns {
    padding: 20px 0;
    display: flex;
    flex-direction: row;
    gap: 5px;
}

button, 
a.btn {
    display: flex;
    flex-direction: column;
    padding: 20px;
    text-decoration: none;
    cursor: pointer;
    border: none;
    background-color: #a3e635;
    color: black;
    font-weight: bold;
    font-size: 1.4rem;
    min-width: 140px;
    max-width: 195px;
    transition: all 0.3s ease;
    border-radius: 5px;
    text-align: center;
    align-items: center;
}

button:hover,
a.btn:hover {
    background-color: #84cc16;
    transition: all 0.3s ease;
}

button:focus,
a.btn:focus {
    outline: 0;
}

button.btn.reiniciarQuiz {
    width: 50%;
    margin-bottom: 0;
}

#perguntas-container {
    max-height: calc(100vh - 42.5vh);
    overflow: auto;
    padding-right: 4px;
    counter-reset: quiz-order;
}

form.opcoes fieldset {
    border: none;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0 0 10px;
}

form.opcoes fieldset:last-child {
    padding-bottom: 0;
}

.pergunta {
    padding: 20px;
    border: 1px solid #475569;
    margin-bottom: 10px;
    border-radius: 5px;
}

.pergunta h3,
.pergunta h5:first-child  {
    padding-bottom: 10px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #475569;
}

.pergunta h3::before,
.pergunta h5:first-child::before  {
    content: counter(quiz-order);
    counter-increment: quiz-order;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    background: #2a3546;
    margin-right: 5px;
    border: 1px solid #a3e635;
    flex-shrink: 0;
}

input {
    all: unset;
    border: 1px solid #475569;
    width: 16px;
    height: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    flex-shrink: 0;
    transition: all .2s ease;
}

input:checked {
    border: 1px solid #a3e635;
}

input:checked:before {
    content: '';
    background-color: #a3e635;
    width: 10px;
    height: 10px;
    display: block;
    border-radius: 50%;
    align-items: center;
    justify-items: center;
    flex-shrink: 0;
}

input:disabled {
    background-color: #2a3546;
    transition: all .2s ease;
}

div#contador-acertos {
    display: flex;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding: 20px 0;
    background-color: #a3e635;
    justify-content: center;
    color: black;
}

div#contador-acertos span {
    font-weight: bold;
}

.loader-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0, 0.4);
    display: none;
    z-index: 9999;
}

.loader-container .loader {
    border: 8px solid rgba(132,204,22, 0.4);
    border-top: 8px solid #a3e635; 
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    position: absolute;
    top: calc(50% - (60px / 2));
    left: calc(50% - (60px / 2));;
}

#status {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: calc(50% + 75px);
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#resultadoModal {
    display: none;
}

h5.modal_resposta {
    font-weight: normal;
}

div#resultadoModal {
    background: #334155;
    -webkit-box-shadow: 0 0 25px rgba(0,0,0,0.5);
    box-shadow: 0 0 25px rgba(0,0,0,0.5);
    padding: 30px;
    max-width: 600px;
}

.modal-footer {
    border-top: 1px solid #546070;
    padding-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

div#resultadoBody {
    max-height: 300px;
    overflow-y: auto;
    padding-right: 4px;
    margin: 10px 0;
    counter-reset: quiz-order;
}

::-webkit-scrollbar {
    width: 8px; 
    height: 8px;
}

::-webkit-scrollbar-track {
    background: transparent; 
}

::-webkit-scrollbar-thumb {
    background: #546070; 
    border-radius: 8px; 
}

.pergunta:last-child {
    margin-bottom: 0;
}

h3.modal-title {
    padding-bottom: 5px;
    border-bottom: 1px solid #475569;
}

.wrapper-pontuacao {
    display: flex;
    width: 50%;
    justify-content: space-between;
}

.wrapper-acertos {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 5px;
}

.wrapper-acertos p, .wrapper-acertos span {
    font-size: 1.4rem;
}

.pontuacao-estrelas {
    display: flex;
}

img.estrela.aparecer-estrela {
    width: 20px;
}

@keyframes aparecerEstrela {
    0% { opacity: 0; transform: translateY(20px); }
    100% { opacity: 1; transform: translateY(0); }
}

#resultadoModal button.btn.reiniciarQuiz,
.wrapper-acertos,
.pontuacao-estrelas img
 {
    animation: aparecerEstrela 0.5s ease-in-out forwards;
}

@media (max-width: 728px) {
    #perguntas-container {
        max-height: fit-content;
    }

    .btns {
        flex-direction: column;
    }

    .modal-footer {
        flex-direction: column-reverse;
    }

    #resultadoBody {
        max-height: 280px;
    }

    #resultadoBody .reiniciarQuiz {
        display: flex;
        margin: 0 auto;
    }

    .wrapper-pontuacao {
        width: 100%;
        flex-wrap: wrap;
        gap: 10px;
        margin-top: 10px;
        justify-content: space-evenly;
    }

    .loader-container .loader {
        width: 30px;
        height: 30px;
        border: 4px solid rgba(132,204,22, 0.4);
        border-top: 4px solid #a3e635; 
        top: calc(50% - (30px / 2));
        left: calc(50% - (30px / 2));;
    }
    
    #status {
        top: calc(50% + 60px);
    }
}